<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkGap.projectManage.dao.CustomerShopsMapper">
  <resultMap id="BaseResultMap" type="com.linkGap.projectManage.model.entity.CustomerShops">
    <id column="customerShopId" jdbcType="INTEGER" property="customerShopId" />
    <result column="customerId" jdbcType="INTEGER" property="customerId" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createUserId" jdbcType="INTEGER" property="createUserId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateUserId" jdbcType="INTEGER" property="updateUserId" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  
   <resultMap id="BaseResultMapView" type="com.linkGap.projectManage.model.view.CustomerShopsView">
    <id column="customerShopId" jdbcType="INTEGER" property="customerShopId" />
    <result column="shopName" jdbcType="VARCHAR" property="shopName" />
  </resultMap>
  <sql id="Base_Column_List">
    customerShopId, customerId, shopName, createTime, createUserId, updateTime, updateUserId, 
    status
  </sql>
  
  <select id="list" parameterType="map" resultMap="BaseResultMapView">
    select customerShopId, shopName
    from customer_shops 
    where customerId = #{customerId,jdbcType=INTEGER} 
     	  <if test="customerShopId != null">
          and customerShopId = #{customerShopId,jdbcType=INTEGER}  
          </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_shops
    where customerShopId = #{customerShopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer_shops
    where customerShopId = #{customerShopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linkGap.projectManage.model.entity.CustomerShops">
    insert into customer_shops (customerShopId, customerId, shopName, 
      createTime, createUserId, updateTime, 
      updateUserId, status)
    values (#{customerShopId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{shopName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.linkGap.projectManage.model.entity.CustomerShops">
    insert into customer_shops
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerShopId != null">
        customerShopId,
      </if>
      <if test="customerId != null">
        customerId,
      </if>
      <if test="shopName != null">
        shopName,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createUserId != null">
        createUserId,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateUserId != null">
        updateUserId,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerShopId != null">
        #{customerShopId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkGap.projectManage.model.entity.CustomerShops">
    update customer_shops
    <set>
      <if test="customerId != null">
        customerId = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="shopName != null">
        shopName = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        updateUserId = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where customerShopId = #{customerShopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkGap.projectManage.model.entity.CustomerShops">
    update customer_shops
    set customerId = #{customerId,jdbcType=INTEGER},
      shopName = #{shopName,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where customerShopId = #{customerShopId,jdbcType=INTEGER}
  </update>
  
  <select id="getShopNames" parameterType="java.lang.Integer" resultType="java.lang.String">
  	select shopName from customer_shops where customerId = #{customerId,jdbcType=INTEGER} 
  
  </select>
</mapper>