<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkGap.projectManage.dao.DefaultStepMapper">
  <resultMap id="BaseResultMap" type="com.linkGap.projectManage.model.entity.DefaultStep">
    <id column="stepId" jdbcType="INTEGER" property="stepId" />
    <result column="customerId" jdbcType="INTEGER" property="customerId" />
    <result column="sysRoleId" jdbcType="INTEGER" property="sysRoleId" />
    <result column="projectType" jdbcType="CHAR" property="projectType" />
    <result column="stepName" jdbcType="VARCHAR" property="stepName" />
    <result column="stepOrder" jdbcType="INTEGER" property="stepOrder" />
    <result column="stepPercent" jdbcType="DECIMAL" property="stepPercent" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createUserId" jdbcType="INTEGER" property="createUserId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateUserId" jdbcType="INTEGER" property="updateUserId" />
    <result column="status" jdbcType="CHAR" property="status" />
  </resultMap>
  <resultMap id="BaseResultMapView" type="com.linkGap.projectManage.model.view.DefaultStepView">
    <id column="stepId" jdbcType="INTEGER" property="stepId" />
    <result column="customerId" jdbcType="INTEGER" property="customerId" />
    <result column="sysRoleId" jdbcType="INTEGER" property="sysRoleId" />
    <result column="projectType" jdbcType="CHAR" property="projectType" />
    <result column="stepName" jdbcType="VARCHAR" property="stepName" />
    <result column="stepOrder" jdbcType="INTEGER" property="stepOrder" />
    <result column="stepPercent" jdbcType="DECIMAL" property="stepPercent" />
  </resultMap>
  <sql id="Base_Column_List">
    stepId, customerId, sysRoleId, projectType, stepName, stepOrder, stepPercent, createTime, 
    createUserId, updateTime, updateUserId, status
  </sql>
  
  <select id="list" parameterType="map" resultMap="BaseResultMapView">
		SELECT
			 stepId, customerId, sysRoleId, projectType, stepName, stepOrder, stepPercent
		FROM
			default_step
		WHERE  1=1
		<if test="customerId != null">
		and customerId=#{customerId} 
		</if>
		<if test="projectType != null">
		and projectType=#{projectType}
		</if>
		order by stepOrder asc
	</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from default_step
    where stepId = #{stepId,jdbcType=INTEGER}
  </select>
  
   <delete id="deleteByCustomerId" parameterType="java.lang.Integer">
    delete from default_step
    where customerId = #{customerId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from default_step
    where stepId = #{stepId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linkGap.projectManage.model.entity.DefaultStep">
    insert into default_step (stepId, customerId, sysRoleId, 
      projectType, stepName, stepOrder, 
      stepPercent, createTime, createUserId, 
      updateTime, updateUserId, status
      )
    values (#{stepId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{sysRoleId,jdbcType=INTEGER}, 
      #{projectType,jdbcType=CHAR}, #{stepName,jdbcType=VARCHAR}, #{stepOrder,jdbcType=INTEGER}, 
      #{stepPercent,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkGap.projectManage.model.entity.DefaultStep">
    insert into default_step
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        stepId,
      </if>
      <if test="customerId != null">
        customerId,
      </if>
      <if test="sysRoleId != null">
        sysRoleId,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="stepName != null">
        stepName,
      </if>
      <if test="stepOrder != null">
        stepOrder,
      </if>
      <if test="stepPercent != null">
        stepPercent,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createUserId != null">
        createUserId,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateUserId != null">
        updateUserId,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stepId != null">
        #{stepId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="sysRoleId != null">
        #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=CHAR},
      </if>
      <if test="stepName != null">
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="stepOrder != null">
        #{stepOrder,jdbcType=INTEGER},
      </if>
      <if test="stepPercent != null">
        #{stepPercent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkGap.projectManage.model.entity.DefaultStep">
    update default_step
    <set>
      <if test="customerId != null">
        customerId = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="sysRoleId != null">
        sysRoleId = #{sysRoleId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=CHAR},
      </if>
      <if test="stepName != null">
        stepName = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="stepOrder != null">
        stepOrder = #{stepOrder,jdbcType=INTEGER},
      </if>
      <if test="stepPercent != null">
        stepPercent = #{stepPercent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        updateUserId = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where stepId = #{stepId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkGap.projectManage.model.entity.DefaultStep">
    update default_step
    set customerId = #{customerId,jdbcType=INTEGER},
      sysRoleId = #{sysRoleId,jdbcType=INTEGER},
      projectType = #{projectType,jdbcType=CHAR},
      stepName = #{stepName,jdbcType=VARCHAR},
      stepOrder = #{stepOrder,jdbcType=INTEGER},
      stepPercent = #{stepPercent,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where stepId = #{stepId,jdbcType=INTEGER}
  </update>
</mapper>