<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linkGap.projectManage.dao.LoginLogMapper">
	<resultMap id="BaseResultMap" type="com.linkGap.projectManage.model.entity.LoginLog">
		<id column="loginLogId" jdbcType="INTEGER" property="loginLogId" />
		<result column="sysUserId" jdbcType="INTEGER" property="sysUserId" />
		<result column="uniqueDeviceIdentifier" jdbcType="VARCHAR" property="uniqueDeviceIdentifier" />
		<result column="loginAddress" jdbcType="VARCHAR" property="loginAddress" />
		<result column="loginIp" jdbcType="VARCHAR" property="loginIp" />
		<result column="loginTime" jdbcType="TIMESTAMP" property="loginTime" />
	</resultMap>
	<sql id="Base_Column_List">
		loginLogId, sysUserId, uniqueDeviceIdentifier, loginAddress, loginIp, loginTime
	</sql>
	<select id="selectLastBySysUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select uniqueDeviceIdentifier
		from login_log
		where sysUserId = #{sysUserId,jdbcType=INTEGER}
		order by loginTime desc 
		limit 0,1
	</select>
	
	<select id="selectLastByUsername" parameterType="string" resultMap="BaseResultMap">
		select a.uniqueDeviceIdentifier
		from login_log a left join sys_user b on a.sysUserId = b.sysUserId
		where b.username = #{username,jdbcType=VARCHAR}
		order by a.loginTime desc 
		limit 0,1
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from login_log
		where loginLogId = #{loginLogId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from login_log
		where loginLogId = #{loginLogId,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.linkGap.projectManage.model.entity.LoginLog">
		insert into login_log (loginLogId, sysUserId, uniqueDeviceIdentifier,
		loginAddress, loginIp, loginTime
		)
		values (#{loginLogId,jdbcType=INTEGER}, #{sysUserId,jdbcType=INTEGER}, #{uniqueDeviceIdentifier,jdbcType=VARCHAR},
		#{loginAddress,jdbcType=VARCHAR}, #{loginIp,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.linkGap.projectManage.model.entity.LoginLog">
		insert into login_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="loginLogId != null">
				loginLogId,
			</if>
			<if test="sysUserId != null">
				sysUserId,
			</if>
			<if test="uniqueDeviceIdentifier != null">
				uniqueDeviceIdentifier,
			</if>
			<if test="loginAddress != null">
				loginAddress,
			</if>
			<if test="loginIp != null">
				loginIp,
			</if>
			<if test="loginTime != null">
				loginTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="loginLogId != null">
				#{loginLogId,jdbcType=INTEGER},
			</if>
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=INTEGER},
			</if>
			<if test="uniqueDeviceIdentifier != null">
				#{uniqueDeviceIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="loginAddress != null">
				#{loginAddress,jdbcType=VARCHAR},
			</if>
			<if test="loginIp != null">
				#{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				#{loginTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.linkGap.projectManage.model.entity.LoginLog">
		update login_log
		<set>
			<if test="sysUserId != null">
				sysUserId = #{sysUserId,jdbcType=INTEGER},
			</if>
			<if test="uniqueDeviceIdentifier != null">
				uniqueDeviceIdentifier = #{uniqueDeviceIdentifier,jdbcType=VARCHAR},
			</if>
			<if test="loginAddress != null">
				loginAddress = #{loginAddress,jdbcType=VARCHAR},
			</if>
			<if test="loginIp != null">
				loginIp = #{loginIp,jdbcType=VARCHAR},
			</if>
			<if test="loginTime != null">
				loginTime = #{loginTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where loginLogId = #{loginLogId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.linkGap.projectManage.model.entity.LoginLog">
		update login_log
		set sysUserId = #{sysUserId,jdbcType=INTEGER},
		uniqueDeviceIdentifier = #{uniqueDeviceIdentifier,jdbcType=VARCHAR},
		loginAddress = #{loginAddress,jdbcType=VARCHAR},
		loginIp = #{loginIp,jdbcType=VARCHAR},
		loginTime = #{loginTime,jdbcType=TIMESTAMP}
		where loginLogId = #{loginLogId,jdbcType=INTEGER}
	</update>
</mapper>