<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkGap.projectManage.dao.ProjectContactsMapper" >
  <resultMap id="BaseResultMap" type="com.linkGap.projectManage.model.entity.ProjectContacts" >
    <id column="customerContactId" property="customerContactId" jdbcType="INTEGER" />
    <result column="projectInfoId" property="projectInfoId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="telphone" property="telphone" jdbcType="VARCHAR" />
    <result column="typeOfWork" property="typeOfWork" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="createUserId" property="createUserId" jdbcType="INTEGER" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updateUserId" property="updateUserId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    customerContactId, projectInfoId, name, telphone, typeOfWork, status, createTime, 
    createUserId, updateTime, updateUserId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_contacts
    where customerContactId = #{customerContactId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_contacts
    where customerContactId = #{customerContactId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linkGap.projectManage.model.entity.ProjectContacts" >
    insert into project_contacts (customerContactId, projectInfoId, 
      name, telphone, typeOfWork, 
      status, createTime, createUserId, 
      updateTime, updateUserId)
    values (#{customerContactId,jdbcType=INTEGER}, #{projectInfoId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}, #{typeOfWork,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.linkGap.projectManage.model.entity.ProjectContacts" >
    insert into project_contacts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerContactId != null" >
        customerContactId,
      </if>
      <if test="projectInfoId != null" >
        projectInfoId,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="telphone != null" >
        telphone,
      </if>
      <if test="typeOfWork != null" >
        typeOfWork,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="updateUserId != null" >
        updateUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerContactId != null" >
        #{customerContactId,jdbcType=INTEGER},
      </if>
      <if test="projectInfoId != null" >
        #{projectInfoId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="typeOfWork != null" >
        #{typeOfWork,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkGap.projectManage.model.entity.ProjectContacts" >
    update project_contacts
    <set >
      <if test="projectInfoId != null" >
        projectInfoId = #{projectInfoId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="telphone != null" >
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="typeOfWork != null" >
        typeOfWork = #{typeOfWork,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        updateUserId = #{updateUserId,jdbcType=INTEGER},
      </if>
    </set>
    where customerContactId = #{customerContactId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkGap.projectManage.model.entity.ProjectContacts" >
    update project_contacts
    set projectInfoId = #{projectInfoId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      telphone = #{telphone,jdbcType=VARCHAR},
      typeOfWork = #{typeOfWork,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=INTEGER}
    where customerContactId = #{customerContactId,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteByProjectInfoId">
    delete from project_contacts
    where projectInfoId = #{projectInfoId,jdbcType=INTEGER}
  </delete>
</mapper>