<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linkGap.projectManage.dao.ProjectStepLogsPicMapper" >
  <resultMap id="BaseResultMap" type="com.linkGap.projectManage.model.entity.ProjectStepLogsPic" >
    <id column="projectStepLogPicId" property="projectStepLogPicId" jdbcType="INTEGER" />
    <result column="projectStepLogId" property="projectStepLogId" jdbcType="INTEGER" />
    <result column="smallImageUrls" property="smallImageUrls" jdbcType="VARCHAR" />
    <result column="imgUrls" property="imgUrls" jdbcType="VARCHAR" />
    <result column="imgOrder" property="imgOrder" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="createUserId" property="createUserId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="LogPicViewMap" type="com.linkGap.projectManage.model.view.ProjectStepLogsPicView" >
    <id column="projectStepLogPicId" property="projectStepLogPicId" jdbcType="INTEGER" />
    <result column="smallImageUrls" property="smallImageUrls" jdbcType="VARCHAR" />
    <result column="imgUrls" property="imgUrls" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    projectStepLogPicId, projectStepLogId, smallImageUrls, imgUrls, imgOrder, createTime, 
    createUserId, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_step_logs_pic
    where projectStepLogPicId = #{projectStepLogPicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_step_logs_pic
    where projectStepLogPicId = #{projectStepLogPicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.linkGap.projectManage.model.entity.ProjectStepLogsPic" >
    insert into project_step_logs_pic (projectStepLogPicId, projectStepLogId, 
      smallImageUrls, imgUrls, imgOrder, 
      createTime, createUserId, status
      )
    values (#{projectStepLogPicId,jdbcType=INTEGER}, #{projectStepLogId,jdbcType=INTEGER}, 
      #{smallImageUrls,jdbcType=VARCHAR}, #{imgUrls,jdbcType=VARCHAR}, #{imgOrder,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=INTEGER}, #{status,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.linkGap.projectManage.model.entity.ProjectStepLogsPic" >
    insert into project_step_logs_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectStepLogPicId != null" >
        projectStepLogPicId,
      </if>
      <if test="projectStepLogId != null" >
        projectStepLogId,
      </if>
      <if test="smallImageUrls != null" >
        smallImageUrls,
      </if>
      <if test="imgUrls != null" >
        imgUrls,
      </if>
      <if test="imgOrder != null" >
        imgOrder,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="createUserId != null" >
        createUserId,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectStepLogPicId != null" >
        #{projectStepLogPicId,jdbcType=INTEGER},
      </if>
      <if test="projectStepLogId != null" >
        #{projectStepLogId,jdbcType=INTEGER},
      </if>
      <if test="smallImageUrls != null" >
        #{smallImageUrls,jdbcType=VARCHAR},
      </if>
      <if test="imgUrls != null" >
        #{imgUrls,jdbcType=VARCHAR},
      </if>
      <if test="imgOrder != null" >
        #{imgOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.linkGap.projectManage.model.entity.ProjectStepLogsPic" >
    update project_step_logs_pic
    <set >
      <if test="projectStepLogId != null" >
        projectStepLogId = #{projectStepLogId,jdbcType=INTEGER},
      </if>
      <if test="smallImageUrls != null" >
        smallImageUrls = #{smallImageUrls,jdbcType=VARCHAR},
      </if>
      <if test="imgUrls != null" >
        imgUrls = #{imgUrls,jdbcType=VARCHAR},
      </if>
      <if test="imgOrder != null" >
        imgOrder = #{imgOrder,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        createUserId = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where projectStepLogPicId = #{projectStepLogPicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.linkGap.projectManage.model.entity.ProjectStepLogsPic" >
    update project_step_logs_pic
    set projectStepLogId = #{projectStepLogId,jdbcType=INTEGER},
      smallImageUrls = #{smallImageUrls,jdbcType=VARCHAR},
      imgUrls = #{imgUrls,jdbcType=VARCHAR},
      imgOrder = #{imgOrder,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR}
    where projectStepLogPicId = #{projectStepLogPicId,jdbcType=INTEGER}
  </update>
  <select id="getPicByLog" resultMap="LogPicViewMap" parameterType="java.lang.Integer" >
    select 
    projectStepLogPicId, smallImageUrls, imgUrls 
    from project_step_logs_pic
    where status='1' and projectStepLogId = #{projectStepLogId,jdbcType=INTEGER}
  </select>
  
  <insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List" >
    insert into project_step_logs_pic (projectStepLogPicId, projectStepLogId, 
      smallImageUrls, imgUrls, imgOrder, 
      createTime, createUserId, status
      )
    values
    <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.projectStepLogPicId,jdbcType=INTEGER}, #{item.projectStepLogId,jdbcType=INTEGER}, 
      #{item.smallImageUrls,jdbcType=VARCHAR}, #{item.imgUrls,jdbcType=VARCHAR}, #{item.imgOrder,jdbcType=INTEGER}, 
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.createUserId,jdbcType=INTEGER}, #{item.status,jdbcType=CHAR}
      )  
    </foreach>
     
  </insert>
</mapper>